@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cyan-500;
    background-image: url(https://www.transparenttextures.com/patterns/batthern.png);
  }
  ::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    display: none;
  }
  ::-webkit-scrollbar-track {
    display: none;
  }
  table,td,tr {
    border: 1px solid black;
  }
}

@layer components {
  .notesOrFoldersContainer {
    @apply col-span-3 overflow-y-auto flex flex-col p-4;
  }
}
